.main-color{
  background: #824CD5 !important;
}
.text-color-main{
  color: #824CD5 !important;
}
.text-color-1{
  color: #555555 !important;
}
.text-color-2{
  color: #777777 !important;
}
.text-color-3{
  color: #363636 !important;
}
